%div.top-box
  %div.grid
    %figure.effect-julia
      %figcaption
        %h2
          Passionate
          %span
            Alex
        %div
          %p Julia dances in the deep dark
          %p She loves the smell of the ocean
          %p And dives into the morning light
        %a{ href: "#" } View more

%div.left-box
  aj runs


%div.center-box
  %div.grid
    %figure.effect-apollo
      %figcaption
        %h2
          Passionate
          %span
            Alex
        %div
          %p I code, I dream, I laugh
        %a{ href: "#" } View more


%div.right-box
  %div.grid
    %figure.effect-dexter
      %figcaption
        %h2
          Soulful
          %span
            AJ
        %div
          %p You never know whats inside you.
        %a{ href: "#" } View more

%div.bottom-box
  hi

