%div.top-box
  %div.grid
    %figure.effect-winston
      %figcaption
        %h2
          Magnanimous
          %span
            Alex
        %p
          %a
            %i.fa.fa-heart
          %a
            %i.fa.fa-graduation-cap
          %a
            %i.fa.fa-file-text

%div.right-box
  %div.grid
    %figure.effect-steve
      %figcaption
        %h2
          Hero
          %span
            Alex
        %p I live, I laugh, I learn
        %a{ href: "#" } View more




%div.center-box
  %div.grid
    %figure.effect-apollo
      %figcaption
        %h2
          Passionate
          %span
            Alex
        %div
          %p Dream Code Laugh
        %a{ href: "#" } View more


%div.left-box
  %div.grid
    %figure.effect-dexter
      %figcaption
        %h2
          Running
          %span
            AJ
        %div
          %p You never know whats inside you.  I love this game.
        %a{ href: "#" } View more

%div.bottom-box
  %div.grid
    %figure.effect-selena
      %figcaption
        %h2
          Real
          %span
            AJ
        %p You never know whats inside you.


= render template: 'layouts/header'


%div.section.teal
  - 20.times do |a|
    %p
      hello world


%div#owl-example.owl-carousel.section.roller
  %div Your Content
  %div Your Content
  %div Your Content
  %div Your Content
  %div Your Content
  %div Your Content
  %div Your Content


%div.section.gray
  - 20.times do |a|
    %p
      hello world

.container
  .row
    %i.fa.fa-github
    %i.fa.fa-linkedin
    %i.fa.fa-youtube-play
