%div.top-box
  %div.grid
    %figure.effect-winston
      %figcaption
        %h2
          Magnanimous
          %span
            Alex
        %p
          %a
            %i.fa.fa-heart
          %a
            %i.fa.fa-graduation-cap
          %a
            %i.fa.fa-file-text

%div.right-box
  %div.grid
    %figure.effect-steve
      %figcaption
        %h2
          Hero
          %span
            Alex
        %p I live, I laugh, I learn
        %a{ href: "oeuoue" } View more




%div.center-box
  %div.grid
    %figure.effect-apollo
      %figcaption
        %h2
          Passionate
          %span
            Alex
        %div
          %p Dream Code Laugh
        %a{ href: "#" } View more


%div.left-box
  %div.grid
    %figure.effect-dexter
      %figcaption
        %h2
          Running
          %span
            AJ
        %div
          %p You never know whats inside you.  I love this game.
        %a{ href: "#" } View more

%div.bottom-box
  %div.grid
    %figure.effect-selena
      %figcaption
        %h2
          Real
          %span
            AJ
        %p You never know whats inside you.


%div.section.blue1
  %div.center-section
    About
  %hr#about_hr
  %div.about
    %div
      %p
        I am runner at heart who practices the art of self mastery.
        Here you will not find any magical information that will save your life
        but what you may find is a small seed of help.  With this help comes hope
        and with ambition you can churn that seed into a tree of your own contribution
        to the world.


%div.section.blue2
  %div.center-section
    Overview
  %hr#overview_hr
  %section
    %aside
      %div#centered
        %i.fa.fa-5x.fa-mobile
      %div#work
        %h2
          App Development
        %p
          I enjoy connecting others from our pocket pardise.  I previously started out
          with Windows Phone development and have progressed to iOS.
    %aside
      %div#centered
        %i.fa.fa-5x.fa-microphone
      %div#work
        %h2
          Voice
        %p
          I try to channel my inner Morgan Freeman voice with podcasts and Youtube videos of
          my learnings in (mostly) Computer Science.
    %aside
      %div#centered
        %i.fa.fa-5x.fa-location-arrow
      %div#work
        %h2
          Travel
        %p
          I want to travel everywhere.  Inspiration can strike at anytime.
    %aside
      %div#centered
        %i.fa.fa-5x.fa-flask
      %div#work
        %h2
          Experimental
        %p
          I am always looking to invest in new people, make new friends, and
          make more mistakes.


%div.section.blue3
  %div.center-section
    Curriculum Vitae - Resume
  %hr#about_hr
  %div.about
    %div#resume
      =link_to( image_path("AlexNortonResume.pdf")) do
        %i.fa.fa-5x.fa-file-pdf-o

%div.section.blue4
  %div.center-section
    About
  %hr#about_hr
  %div.about
    %div
      %p
        I am runner at heart who practices the art of self mastery.
        Here you will not find any magical information that will save your life
        but what you may find is a small seed of help.  With this help comes hope
        and with ambition you can churn that seed into a tree of your own contribution
        to the world.

%div.section.blue5
  %div.center-section
    About
  %hr#about_hr
  %div.about
    %div
      %p
        I am runner at heart who practices the art of self mastery.
        Here you will not find any magical information that will save your life
        but what you may find is a small seed of help.  With this help comes hope
        and with ambition you can churn that seed into a tree of your own contribution
        to the world.



.footer
  .row
    %i.fa.fa-github
    %i.fa.fa-linkedin
    %i.fa.fa-youtube-play
