%section#slide-1.homeSlide
  .bcg
    .hsContainer
      .hsContent
        %div
        %h2
          Hello, my name is Alex "AJ" Norton. 
          I am an iOS and Ruby developer, self improver and runner.  
          Feel free to connect with me.  
          Send me an email if you want to make friends or work together.
        
          

%div.navBar
  - navArray = ["Projects", "Social", "CV", "Contact", "Thanks"]
  - tags = ["projects", "social", "resume", "contact", "footer"]
  %ul
    - navArray.each_with_index do |item, index|
      %li
        =link_to("##{tags[index]}") do 
          =item
/ %div.section.blue1#about
/   %div.center-section
/     %h1
/       About
/   %hr#about_hr
/   %div
/     %div
/       %p
/         A question I always wondered was what is the meaning of life? It seemed that from childhood onward this
/         question is pondered but the answer is never really found. I tried to find the answer but anything I came
/         up with seemed meaningless and desolate. It took me a long time to realize that the purpose of life is to
/         not find the meaning in yours, but to help others define their reason for living. It is through helping
/         others that we achieve our goals in life, that is the ultimate satisfaction. You can never give back enough
/         in this world for all the help you have been given to place you right before these words. My name is A.J. Norton
/         and I try to give back to the community by teaching others how to program through my Youtube channel.  I also enjoy
/         running and writing Ruby code. Feel free to send a message below and tell me what you do to give back to the world.
/         I will try my best to get back to you.

/ %div.section.blue2#overview
/   %div.center-section
/     %h1
/       Overview
/   %hr#overview_hr
/   %div.overview-panes
/     %aside
/       %div#centered
/         %i.fa.fa-5x.fa-mobile
/       %div#work
/         %h2
/           Code
/         %p
/           I enjoy connecting others from our pocket paradise.  I previously
/           started out with Windows Phone development and have progressed to iOS.
/     %aside
/       %div#centered
/         %i.fa.fa-5x.fa-microphone
/       %div#work
/         %h2
/           Voice
/         %p
/           I try to channel my inner Morgan Freeman voice with podcasts and
/           Youtube videos of my learnings in (mostly) Computer Science.
/     %aside
/       %div#centered
/         %i.fa.fa-5x.fa-location-arrow
/       %div#work
/         %h2
/           Travel
/         %p
/           I want to travel everywhere.  Inspiration can strike at anytime.
/     %aside
/       %div#centered
/         %i.fa.fa-5x.fa-clock-o
/       %div#work
/         %h2
/           Beat the clock
/         %p
/           My goal is to run a mile under 4 minutes and one day coach.

%div.section.projects#projects
  %div.center-section
    %h1
      Projects
  %hr#social_hr
  %div#project-block
    %div
      %h1
        OBU Transit
      %h3 
        Language: Swift
      %p
        While studying in Oxford England, the bus system was terrible.  No one knew when and where they could take the buses.  My solution was OBU transit.  An app to view the map and schedule for the universities bus route.  The user can set reminders, look at future times, and plan their route around Oxford.  Check it out on the app store (iOS only)!
    %div 
      =link_to("https://itunes.apple.com/us/app/obu-transit/id1017577580?ls=1&mt=8") do
        =image_tag("OBUBusTrackerAppIcon180.png")
    %div
      =link_to("https://itunes.apple.com/us/app/obu-transit/id1017577580?ls=1&mt=8") do
        %i.fa.fa-5x.fa-apple
      =link_to("https://github.com/ajn123/Oxford-Bus-Tracker") do
        %i.fa.fa-5x.fa-github-square
    
    


%div.section.blue3#social
  %div.center-section
    %h1
      Social
  %hr#social_hr
  %div.social
    %div
      %p
        My biggest online presence is in my Youtube channel.  Feel free
        to view my Github and view a modicum of my coding projects.  Stack
        overflow is the mother of my learning and I drop in constantly.
    %div#social-icons
      =link_to("https://www.youtube.com/user/AppleJuiceScholars") do
        %i.fa.fa-5x.fa-youtube-square.youtube
      / =link_to("http://applejuicescholars.com/") do
      /   %i.fa.fa-5x.fa-stack-exchange.blog
      %div
        =link_to("https://github.com/ajn123") do
          %i.fa.fa-3x.fa-github-square.github
        =link_to("https://www.linkedin.com/in/ajnorton/") do
          %i.fa.fa-3x.fa-linkedin-square.linkedin
        =link_to("http://stackoverflow.com/users/4171159/applejuiceteaching") do
          %i.fa.fa-3x.fa-stack-overflow.stack-overflow

%div.section.blue4#resume
  %div.center-section
    %h1
      Curriculum Vitae
    %hr#about_hr
      %p 
        Currently Employed.  I do computer programming tutoring on the side.  Contact me for rates.        
      %div
        %div
          =link_to( "https://raw.githubusercontent.com/ajn123/CV/master/alex_norton_modern_resume.pdf") do
            %i.fa.fa-5x.fa-file-pdf-o

%div.section.blue5#contact
  %div.center-section
    %h1
      Contact
  %hr#social_hr
  %div
    Want to grab a bite to eat?  Need a tutor?  Want to discuss the meaning of waffles?  Feel free to contact me at: 
    %br
    %a{ href: "mailto:alexnorton@vt.edu?Subject=Hello%20again", id: "email_link" }
      alexnorton@vt.edu
%div.section.black#footer
  %div.center-section
    %h1
      Thanks
  %hr#resume_hr
  %div
    %div
      %p
        I have the following to thank for this website:
      %ul
        %li
          %a{ href: "http://peterahn.wix.com/photography", target: "_blank" }
            Peter Ahn
          for the wonderful pictures.
        %li
          %a{ href: "http://fortawesome.github.io/Font-Awesome/", target: "_blank"}
            Font-Awesome
          for the fantastic icons.
        %li
          HTML/CSS/JS/RUBY
        %li
          Find the code
          %a{ href: "https://github.com/RubyQuarry/Website_Alex", target: "_blonk" }
            here
%section#slide-2
  .bcg
    .hsContainer
      .hsContent
