/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *



 */


* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}








@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:500);
/* 2f4b87 */
/* 2f4b87 */
/* #1f325d */
/* Menu CSS */
#cssmenu {
  width: 100%;
}
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
    padding: 0;
    margin: 0;
    line-height: 1;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu:before,
#cssmenu:after,
#cssmenu > ul:before,
#cssmenu > ul:after {
    content: "";
    display: table;
}
#cssmenu:after,
#cssmenu > ul:after {
    clear: both;
}
#cssmenu a {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
#cssmenu ul {
    background: #526FFF;
    border: 1px solid #2b4479;
    border: 1px solid #2d4373;
    -webkit-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -o-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    -ms-box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
    box-shadow: 0 1px 2px rgba(2, 2, 2, 0.25), inset 0 1px 1px rgba(255, 255, 255, 0.15);
}
#cssmenu ul > li {
    float: left;
    list-style: none;
}
#cssmenu ul > li > a {
    display: block;
    text-decoration: none;
    padding: 15px 44px;
    position: relative;
}
#cssmenu ul > li > a:hover {
    background: #2d4373;
    -webkit-box-shadow: inset 0 0 1px #1e2e4f;
    -o-box-shadow: inset 0 0 1px #1e2e4f;
    -moz-box-shadow: inset 0 0 1px #1e2e4f;
    -ms-box-shadow: inset 0 0 1px #1e2e4f;
    box-shadow: inset 0 0 1px #1e2e4f;
    -webkit-transition: all ease .3s;
    -o-transition: all ease .3s;
    -moz-transition: all ease .3s;
    -ms-transition: all ease .3s;
    transition: all ease .3s;
}
#cssmenu ul > li > a:hover:before {
    content: "";
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: -1px;
    opacity: .2;
}
#cssmenu ul > li > a:hover:after {
    content: "";
    z-index: 2;
    position: absolute;
    border: 1px solid white;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    right: -1px;
    opacity: .2;
}
#cssmenu > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    box-shadow: none;
}
#cssmenu > ul > li > ul {
    width: 200px;
    position: absolute;
}
#cssmenu > ul > li > ul > li {
    float: none;
    position: relative;
}
#cssmenu > ul > li > ul > li > ul {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
#cssmenu > ul > li > ul > li:hover > ul {
    opacity: 1;
    visibility: visible;
    position: absolute;
}
#cssmenu > ul > li > ul > li > ul {
    left: 200px;
    top: 1px;
    width: 200px;
}
#cssmenu > ul > li > ul > li > ul > li {
    float: none;
}
/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 10, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 20, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 44, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 56, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 66, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 77, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 88, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
a {
  background: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 97, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 108, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 117, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 125, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 134, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 143, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 152, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 161, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 168, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
sup {
  top: -0.5em;
}

/* line 172, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 183, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 191, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 202, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 210, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 220, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 231, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 255, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 265, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 277, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 292, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 302, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 311, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 321, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 334, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 346, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 356, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 370, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 378, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 389, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 398, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 407, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 418, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 424, /Users/AlexNorton/.rvm/gems/ruby-2.0.0-p576/gems/normalize-rails-3.0.1/vendor/assets/stylesheets/normalize-rails/normalize.css */
td,
th {
  padding: 0;
}
/* line 16, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

/* line 20, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.top-box {
  position: relative;
  float: left;
  width: 80%;
  height: 20vh;
  background: #6d45ff;
}

/* line 28, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.right-box {
  position: relative;
  background: #d0d447;
  height: 80vh;
  left: 80%;
  width: 20%;
}

/* line 37, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.center-box {
  position: absolute;
  top: 20vh;
  left: 20%;
  background: #2E2F30;
  height: 60vh;
  width: 60%;
}

/* line 46, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.left-box {
  background: #1d24ff;
  float: left;
  width: 20%;
  height: 80vh;
  position: absolute;
  top: 20vh;
}

/* line 55, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.bottom-box {
  position: relative;
  left: 20%;
  background: #ffac30;
  height: 20vh;
  width: 80%;
}

/* line 65, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
}

/* Common style */
/* line 73, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure {
  position: relative;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

/* line 82, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure img {
  position: relative;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}

/* line 89, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure figcaption {
  padding: 1em 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8vw;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 99, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

/* line 104, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
/* line 114, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

/* line 122, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

/* line 127, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure h2 span {
  font-weight: 900;
}

/* line 132, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure h2,
.grid figure p {
  margin: 0;
}

/* line 136, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */
/*-----------------*/
/***** Apollo ***** CENTER/
/*-----------------*/
/* line 147, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo {
  background: #3498db url("/assets/AJFullFace.jpg") bottom center no-repeat;
  background-size: cover;
  height: 60vh;
  width: 100%;
  color: #000000;
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
/* line 155, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo p {
  position: absolute;
  right: 0;
  top: 0;
  margin: 3em;
  padding: 0 1em;
  max-width: 150px;
  color: #000000;
  border-right: 4px solid #db001c;
  text-align: right;
  opacity: 0;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
/* line 169, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo h2 {
  position: absolute;
  bottom: 0;
  left: 50%;
  text-align: center;
  color: #db001c;
}

/* line 178, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 36, 255, 0.5);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, -100%, 0);
}

/* line 196, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo:hover {
  opacity: 0.6;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/* line 202, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
  transform: scale3d(1.9, 1.4, 1) rotate3d(0, 0, 1, 45deg) translate3d(0, 100%, 0);
}

/* line 207, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo:hover {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 214, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-apollo:hover p {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/*---------------*/
/***** Dexter *****/
/*---------------*/
/* line 227, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter {
  background: -webkit-linear-gradient(top, #258dc8 0%, #683c13 100%);
  background: linear-gradient(to bottom, #258dc8 0%, #683c13 100%);
  background: #3498db url("/assets/AJLeft.jpg") bottom left no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  color: #000000;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}
/* line 234, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter h2 {
  position: absolute;
  left: 10%;
  text-align: center;
  color: #0f0f0f;
}
/* line 241, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter p {
  padding: 2px;
  position: absolute;
  left: 0;
  bottom: 22vh;
  color: #000000;
  white-space: pre-line;
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, -100px, 0);
  transform: translate3d(0, -100px, 0);
}

/* line 259, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter:hover {
  opacity: 0.9;
}

/* line 263, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter figcaption::after {
  position: absolute;
  right: 10px;
  bottom: 30px;
  left: 10px;
  width: auto;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 4px solid #3b86ff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

/* line 279, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 284, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}

/* line 290, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/*-----------------*/
/***** Steve *****/
/*-----------------*/
/* line 304, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve {
  z-index: auto;
  overflow: visible;
  background: #3498db url("/assets/AJRight.jpg") center center no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100%;
  color: #000000;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
  transform: perspective(1000px) translate3d(0, 0, 0);
}
/* line 314, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve h2 {
  position: relative;
  margin-top: 2em;
  padding: 0.25em;
}

/* line 322, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve:before,
figure.effect-steve h2:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

/* line 336, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve:before {
  box-shadow: 0 3px 30px rgba(0, 0, 0, 0.8);
  opacity: 0;
}

/* line 341, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve figcaption {
  z-index: 1;
}

/* line 347, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve h2,
figure.effect-steve p {
  background: #fff;
  color: #2d434e;
}

/* line 353, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve h2:before {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

/* line 357, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve p {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(0.9, 0.9, 1);
  transform: scale3d(0.9, 0.9, 1);
}

/* line 368, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve:hover:before {
  opacity: 1;
}

/* line 372, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve:hover {
  -webkit-transform: perspective(1000px) translate3d(0, 0, 0px);
  transform: perspective(1000px) translate3d(0, 0, 0px);
}

/* line 377, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve:hover h2:before {
  opacity: 0;
}

/* line 381, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-steve:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

/*-----------------*/
/***** Selena *****/
/*-----------------*/
/* line 395, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-selena {
  background: #3498db url("/assets/AJBottom.jpg") center center no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
  color: #000000;
  opacity: 0.95;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/* line 403, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-selena:hover {
  -webkit-transform: scale3d(0.99, 0.95, 1);
  transform: scale3d(0.99, 0.95, 1);
}

/* line 409, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-selena h2 {
  padding-left: 10px;
  color: #30a2ff;
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 20px, 0);
  transform: translate3d(0, 20px, 0);
}

/* line 419, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-selena p {
  padding-left: 10px;
  text-align: left;
  color: #3b86ff;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  transform: perspective(1000px) rotate3d(1, 0, 0, 90deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

/* line 432, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-selena:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 437, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-selena:hover p {
  opacity: 1;
  color: #27248F;
  -webkit-transform: perspective(1000px) rotate3d(1, 0, 0, 0);
  transform: perspective(1000px) rotate3d(1, 0, 0, 0);
}

/*-----------------*/
/***** Winston *****/
/*-----------------*/
/* line 456, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston {
  padding: 0;
  margin: 0;
  background: #3498db url("/assets/AJTop.jpg") center center no-repeat;
  background-size: cover;
  height: 20vh;
  width: 100%;
  color: #000000;
  text-align: right;
  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
/* line 467, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston p {
  position: absolute;
  right: 10%;
  text-align: right;
  bottom: 0;
  padding: 0 1.5em 1% 0;
}
/* line 475, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston h2 {
  margin: 0;
  padding: 0;
  text-align: right;
  padding-right: 10px;
  color: #FF6F4C;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 40px, 0);
  transform: translate3d(0, 40px, 0);
}
/* line 487, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston:hover {
  opacity: 0.97;
}

/* line 494, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  content: '';
}

/* line 508, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston a {
  margin: 0 10px;
  color: #ff4854;
  font-size: 170%;
}

/* line 515, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston a:hover,
figure.effect-winston a:focus {
  color: #07E885;
}

/* line 519, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0, 30px, 0);
  transform: translate3d(0, 30px, 0);
}

/* line 527, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston:hover h2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 532, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston:hover figcaption::before {
  opacity: 0.7;
  -webkit-transform: rotate3d(0, 0, 0, 20deg);
  transform: rotate3d(0, 0, 0, 20deg);
}

/* line 538, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston:hover p i {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* line 544, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston:hover p a:nth-child(3) i {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

/* line 549, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston:hover p a:nth-child(2) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

/* line 554, /Users/AlexNorton/projects/rails_projects/insane_blog/app/assets/stylesheets/static_pages.css.scss */
figure.effect-winston:hover p a:first-child i {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
