/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require share-style
 *= require owl.carousel
 *= require owl.theme
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */
@import 'jeet/index';

$black: #000000;
$blue1: #cadbee;
$blue2: #9fbee0;
$blue3: #76a1d1;
$blue4: #4c84c1;
$blue5: #3f76b3;

.blue1{ background: $blue1; }
.blue2{ background: $blue2; }
.blue3{ background: $blue3; }
.blue4{ background: $blue4; }
.blue5{ background: $blue5; }

section {
  @include center(960px);
}
aside {
  @include column(1/4);
}

hr{
  @include center(980px);
}

@mixin section-border-bar($color)
{
  border: 1px solid $color;
}

#about_hr{
  @include section-border-bar($blue5);
}

#overview_hr{
  @include section-border-bar($blue4);
}

#resume_hr{
  @include section-border-bar($blue3);
}

#social_hr{
  @include section-border-bar($blue2);
}

#contact_hr{
  @include section-border-bar($blue1);
}

#centered{
  text-align: center;
  i{
    padding-top: 10px;
    color: #0e0f25;
  }
}


.center-section{
  padding: 20px 0 0 0;
  margin: 0 auto;
  width: 380px;
  text-align: center;
  font-weight: 900;
  font-size: 1.8vw;
}


.about{
  @include center(940px);
  padding: 10px 0 50px 0;
  text-align: center;
}

.social{
  @extend .about;
  > div{ @include column(1/2); }
  #social-icons
  {
    .youtube{ color: #ca4947;
      &:hover{
        color: $black;
      }
    }
    .blog{ color: #46c2ca;
      &:hover{
        color: $black;
      }
    }
    .linkedin{
      color: #3fc380;
      &:hover{
        color: $black;
      }
    }
    .stack-overflow{
      color: #fe7a15;
      &:hover{
        color: $black;
      }
    }
    .github{
      color: #373737;
      &:hover{
        color: $black;
      }
    }
    i{ padding: 5px; }
  }
}


#contact{
  @include column(1/2);

  input{
    display: block;
    margin: 10px 0;
    width: 75%;
     border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }

  textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 100%;
    border-radius: 5px;
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
  }

  .button {
    display: inline;
    float: left;
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;

    &:hover {
        color: #333;
        background-color: #EBEBEB;

    }
  }

  #submitted{
    color: #21cc38;
    visibility: hidden;
  }


}

#work{
  p, h2{
    color: #0e0f25;
    margin: 5px 0;
    text-align: center;
  }
}

#resume{
  text-align: center;
  @include center(200px);
  a{
    i{
      color: #b52828;
      &:hover{
        color: $black;
      }
    }
  }
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.section {
  padding: 40px 10px;
  margin: 0 auto;
  width: 100%;
  height: auto;
}

.teal { background: #1e1e1e; color: #fff; }
.gray { background: #56cec7; color: #fff; }
.yellow { background: #e8b968; color:#5b6869; }
.red { background: #F85D5D; color: #fff; }
.white { background: #fff; color: #5b6869; padding-top: 25px; padding-bottom: 25px; }
.space-gray{ background: #571f8e; }
.green { background: #71d7d1; }
.blue { background: rgb(52, 132, 210) }
.black{ background: #3ac5bd; color: #343434;}


.blue1{ background: #cadbee; }
.blue2{ background: #9fbee0; }
.blue3{ background: #76a1d1; }
.blue4{ background: #4c84c1; }
.blue5{ background: #3f76b3; }




// for slideshow
.roller{
  margin: 0 auto;
  width: 50%;

 img{
    max-height: 200px;
    max-width: 200px;
  }
}

.footer{
  @include center(400px);
  margin: 0 auto;
  width: 20%;
}
