/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require normalize-rails
 *= require_tree .
 */
@import 'jeet/index';

$black: #000000;
$blue1: #FCFFF5;
$blue2: #D1DBBD;
$blue3: #91AA9D;
$blue4: #3E606F;
$blue5: #193441;

@font-face{
  font-family:'Station';
  src: font-url('Station.ttf');
}


@mixin content_block
{
  @include center(940px);
  padding: 0px 0 1px 0;
  text-align: center;
}

@mixin media_query_columns($fraction)
{
  @media  (min-width: 500px)
  {
    @include column($fraction);
  }

  @media  (max-width: 499px)
  {
    @include stack();
  }
}

@mixin black-text{
  color: #dcdcdc;
}

.blue1{ background: $blue1; }
.blue2{ background: $blue2; }
.blue3{ background: $blue3; }
.blue4{ background: $blue4; }
.blue5{ background: $blue5; }

.teal { background: #1e1e1e; color: #fff; }
.gray { background: #56cec7; color: #fff; }
.yellow { background: #e8b968; color:#5b6869; }
.red { background: #F85D5D; color: #fff; }
.white
{
  background: #fff;
  color: #5b6869;
  padding-top: 25px;
  padding-bottom: 25px;
}
.space-gray{ background: #571f8e; }
.green { background: #71d7d1; }
.blue { background: rgb(52, 132, 210) }
// block background, white font color
.black{ background: #1d1d1d; color: #dcdcdc;}

hr
{
  @include center(980px);
}

@mixin section-border-bar($color)
{
  border: 1px solid $color;
}

hr{
  margin-bottom: 15px;
}

#about_hr{
  @include section-border-bar($blue5);
}

#overview_hr{
  @include section-border-bar($blue4);
}

#resume_hr{
  @include section-border-bar($blue3);
}

#social_hr{
  @include section-border-bar($blue2);
}

#contact_hr{
  @include section-border-bar($blue1);
}

a{ text-decoration: none; }

#centered
{
  text-align: center;
  i{
    padding-top: 5px;
    color: #0e0f25;
  }
}

.center-section{
  padding: 10px 0 0 0;
  margin: 0 auto;
  width: 380px;
  text-align: center;
  font-weight: 900;
  font-size: 18px;
}



#about
{
  div
  {
    div
    {
      @include content_block;
    }
  }
}


///////////OVERVIEW
.overview-panes
{
  @include center(960px);
  @include stack();
}

aside{
  @include media_query_columns(1/4);
}

#overview{
  p, h2
  {
    color: #0e0f25;
    margin: 5px 0;
    text-align: center;
  }
}

#resume
{
  div
  {
    @include center(940px);
    text-align: center;
    div
    {
      text-align: center;
      @include center(200px);
      a{
        i{
          color: #00ee88;
            &:hover
            {
              color: $black;
            }
         }
      }
    }
  }
}

#social{
  .social{
    @include content_block;
    > div
    {
      @include media_query_columns(1/2);
    }
    #social-icons
    {
      .youtube
      { color: #b31217;
        &:hover
        {
          color: $black;
        }
      }
      .blog
      { color: #f57d00;
        &:hover
        {
          color: $black;
        }
      }
      .linkedin
      {
        color: #0976b4;
        &:hover
        {
          color: $black;
        }
      }
      .stack-overflow
      {
        color: #fe7a15;
        &:hover
        {
          color: $black;
        }
      }
      .github
      {
        color: #000000;
        &:hover
        {
          color: $blue4;
        }
      }
      i{ padding: 5px; }
    }
  }
}




#contact
{
  div
  {
    @include black-text;

    @include content_block;
    div
    {
      @include media_query_columns(1/2);

      input
      {
        color: #000000;
        display: block;
        margin: 10px 0;
        width: 100%;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
      }

      textarea
      {
        color: #000000;
        height:100px;
        padding: 5px 0px 0px 5px;
        width: 100%;
        border-radius: 5px;
       -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
      }

      .button
      {
        display: inline;
        float: left;
        background: #FFCC02;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #585858;
        border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        text-shadow: 1px 1px 1px #FFE477;
        font-weight: bold;
        box-shadow: 1px 1px 1px #3D3D3D;
        -webkit-box-shadow:1px 1px 1px #3D3D3D;
        -moz-box-shadow:1px 1px 1px #3D3D3D;

        &:hover
        {
          color: #333;
          background-color: #EBEBEB;
        }
      }

      #submitted
      {
        color: #21cc38;
        visibility: hidden;
      }
    }
  }
}

#footer{
  div
  {
    @include center(600px);

    a
    {
      color: rgb(117,206,226);

      &:hover
      {
        color: #dcdcdc;
      }
    }
  }
}



* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}


.section {
  padding: 0px 10px 20px 0;
  margin: 0 auto;
  width: 100%;
  min-height: 350px;

}




// for slideshow
.roller{
  margin: 0 auto;
  width: 50%;

  img
  {
    max-height: 200px;
    max-width: 200px;
  }
}



.hsContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;

  #arrow-down
  {
    position: absolute;
    bottom: 10vh;
    left: 75vw;
    width: 23vw;
    color: #282828;
  }

  #arrow-up
  {
    position: absolute;
    top: 10vh;
    left: 25vw;
    width: 23vw;
    color: #282828;
  }

  .hsContent
  {
    color: $black;
    h2
    {
      position: absolute;
      top: 1vh;
      left: 71vw;
      width: 25vw;
      .rssRow
      {
        list-style-type: none;
        a
        {
          font-family: 'Station';
          font-size: 25px;
          color: #282828;
          @media  (max-width: 699px)
          {
            color: transparent;
          }
        }
      }
    }
  }
}



.bcg
{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}


/* Slide 1 */
#slide-1 .bcg { background-image: url(asset-path("AJFullFace.jpg"));}

#slide-2 .bcg { background-image: url(asset-path("AJLeft.jpg"));}

#slide-3 .bcg { background-image: url(asset-path("AJLeft.jpg"));}

/* Slide 5 */
#slide-5 { position: relative; }
#slide-5 .bcg {background-image:url(asset-path("AJFullFace.jpg"));}
#slide-5 .bcg2
{
  background-image: url(asset-path("AJTop.jpg"));
  bottom: 0; left: 0;
  opacity: 0; z-index: 1
}

#slide-5 .bcg3
{
  background: none; background-color: #010101;
  bottom: 0; left: 0;
  opacity: 0; z-index: 2
}

#skrollr-body
{
  float: left;
  width: 100%;
  height: 100%;
}
