// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


@mixin background-picture-panel($pic, $height, $width, $top-pic:bottom, $wide-pic: center)
{
  background: #3498db url(asset-path($pic)) $top-pic $wide-pic no-repeat;
  background-size: cover;  // stretches to fill entire background
  height: $height;
  width: $width;
  color: #000000;
}




.footer{

  
}

body{
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.top-box{
  position: relative;
  float: left;
  width: 80%;
  height: 20vh;
  background: #6d45ff;
}

.right-box{
  position: relative;
  background: #d0d447;
  height: 80vh;
  left: 80%;
  width: 20%;

}

.center-box{
   position: absolute;
   top: 20vh;
   left: 20%;
   background: #2E2F30;
   height: 60vh;
   width: 60%;
}

.left-box{
  background: #1d24ff;
  float: left;
  width: 20%;
  height: 80vh;
  position: absolute;
  top: 20vh;
}

.bottom-box{
  position: relative;
  left: 20%;
  background: #ffac30;
  height: 20vh;
  width: 80%;
}

//////////////////////////////////////////////////////////

.grid {
  position: relative;
  list-style: none;
  text-align: center;
  margin: 0;
}

/* Common style */
.grid figure {
  position: relative;
  overflow: hidden;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
  margin: 0;
}

.grid figure img {
  position: relative;
  display: block;
  margin: 0 auto;
  opacity: 0.8;
}

.grid figure figcaption {
  padding: 1em 0 ;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.8vw;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
  pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.grid figure h2 {
  word-spacing: -0.15em;
  font-weight: 300;
}

.grid figure h2 span {
  font-weight: 900;
}

.grid figure h2,
.grid figure p {
  margin: 0;
}

.grid figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

/* Individual effects */

/*-----------------*/
/***** Apollo ***** CENTER/
/*-----------------*/

figure.effect-apollo {
  @include background-picture-panel("AJFullFace.jpg", 60vh, 100%);
  opacity: 0.95;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(1.00,1.00,1);
  transform: scale3d(1.00,1.00,1);

  h2 {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
    color: #E81500;
  }

  p {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3em;
    padding: 0 1em;
    max-width: 150px;
    color: #000000;
    border-right: 4px solid #db001c;
    text-align: right;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }

}

figure.effect-apollo figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 36, 255, 0.50);
  content: '';
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  -webkit-transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,-100%,0);



}


figure.effect-apollo:hover {
  opacity: 0.6;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}

figure.effect-apollo:hover figcaption::before {
  -webkit-transform: scale3d(1.0,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
  transform: scale3d(1.9,1.4,1) rotate3d(0,0,1,45deg) translate3d(0,100%,0);
}

figure.effect-apollo:hover {
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}


figure.effect-apollo:hover p{
  opacity: 1;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}




/*---------------*/
/***** Dexter *****/
/*---------------*/

figure.effect-dexter {
  background: -webkit-linear-gradient(top, rgba(37,141,200,1) 0%, rgba(104,60,19,1) 100%);
  background: linear-gradient(to bottom, rgba(37,141,200,1) 0%,rgba(104,60,19,1) 100%);
  @include background-picture-panel("AJLeft.jpg", 80vh, 100%, bottom, left);
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;

  h2{
    position: absolute;
    left: 10%;
    text-align: center;
    color: #002EFF;
  }

  p {
    padding: 2px;
    position: absolute;
    left: 0;
    bottom: 22vh;
    color: #000000;

    white-space: pre-line;
    text-align: center;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100px,0);
    transform: translate3d(0,-100px,0);
  }
}


figure.effect-dexter:hover  {
  opacity: 0.9;
}

figure.effect-dexter figcaption::after {
  position: absolute;
  right: 10px;
  bottom: 30px;
  left: 10px;
  width: auto;
  height: -webkit-calc(50% - 30px);
  height: calc(50% - 30px);
  border: 4px solid #3b86ff;
  content: '';
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

figure.effect-dexter:hover figcaption::after {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-dexter figcaption {
  padding: 3em;
  text-align: left;
}


figure.effect-dexter:hover p {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}





/*-----------------*/
/***** Steve *****/
/*-----------------*/

figure.effect-steve {
  z-index: auto;
  overflow: visible;
  @include background-picture-panel("AJRight.jpg", 80vh, 100%, center, center);
  opacity: 1;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: perspective(1000px) translate3d(0,0,0);
  transform: perspective(1000px) translate3d(0,0,0);

  h2 {
    color: #526FFF;
    position: relative;
    margin-top: 2em;
    padding: 0.25em;
  }
}

figure.effect-steve:before,
figure.effect-steve h2:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #000;
  content: '';
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.effect-steve:before {
  box-shadow: 0 3px 30px rgba(0,0,0,0.8);
  opacity: 0;
}

figure.effect-steve figcaption {
  z-index: 1;
}


figure.effect-steve h2,
figure.effect-steve p {
  background: #fff;
  color: #2d434e;
}


figure.effect-steve h2:before {
  box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve p {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale3d(0.9,0.9,1);
  transform: scale3d(0.9,0.9,1);
}

figure.effect-steve:hover:before {
  opacity: 1;
}

figure.effect-steve:hover  {
  -webkit-transform: perspective(1000px) translate3d(0,0,0px);
  transform: perspective(1000px) translate3d(0,0,0px);
}

figure.effect-steve:hover h2:before {
  opacity: 0;
}

figure.effect-steve:hover p {
  opacity: 1;
  -webkit-transform: scale3d(1,1,1);
  transform: scale3d(1,1,1);
}





/*-----------------*/
/***** Selena *****/ // Bottom
/*-----------------*/

figure.effect-selena {
  @include background-picture-panel("AJBottom.jpg", 20vh, 100%, center, center);
  opacity: 0.95;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;

  &:hover {
    -webkit-transform: scale3d(0.99, 0.95, 1);
    transform: scale3d(0.99, 0.95, 1);
  }
}

figure.effect-selena h2 {
  padding-left: 10px;
  color: #31E800;
  text-align: left;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,20px,0);
  transform: translate3d(0,20px,0);
}

figure.effect-selena p {
  padding-left: 10px;
  text-align: left;
  color: #0037FF;
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,90deg);
  transform: perspective(1000px) rotate3d(1,0,0,90deg);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
}

figure.effect-selena:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-selena:hover p {
  opacity: 1;
  color: #27248F;
  -webkit-transform: perspective(1000px) rotate3d(1,0,0,0);
  transform: perspective(1000px) rotate3d(1,0,0,0);
}









/*-----------------*/
/***** Winston *****/ // TOP
/*-----------------*/

figure.effect-winston {
  padding: 0;
  margin: 0;
  @include background-picture-panel("AJTop.jpg", 20vh, 100%, center, center);
  text-align: right;

  -webkit-transition: opacity 0.45s;
  transition: opacity 0.45s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  p {
    position: absolute;
    right: 10%;
    text-align: right;
    bottom: 0;
    padding: 0 1.5em 1% 0;
  }

  h2 {
    margin: 0;
    padding: 0;
    text-align: right;
    padding-right: 10px;
    color: #FF7A00;
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(0,40px,0);
    transform: translate3d(0,40px,0);
  }

  &:hover  {
    opacity: 0.97;
  }
}



figure.effect-winston figcaption::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  content: '';
}





figure.effect-winston a {
  margin: 0 10px;
  color: #ff4854;
  font-size: 170%;
}

figure.effect-winston a:hover,
figure.effect-winston a:focus {
  color: #07E885;
}

figure.effect-winston p a i {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,30px,0);
  transform: translate3d(0,30px,0);
}

figure.effect-winston:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-winston:hover figcaption::before {
  opacity: 0.7;
  -webkit-transform: rotate3d(0,0,0,20deg);
  transform: rotate3d(0,0,0,20deg);
}

figure.effect-winston:hover p i {
  opacity: 1;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.effect-winston:hover p a:nth-child(3) i {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

figure.effect-winston:hover p a:nth-child(2) i {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

figure.effect-winston:hover p a:first-child i {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
